body {
  margin: 0;
  font-family: arial;
}

.container {
  width: 80%;
  margin: auto;
  min-height: 70vh;
}

header {
  align-items: center;
  background-color: rgb(78, 72, 72);
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  display: flex;
}

header img {
  width: 50%;
}

.conteudo-central {
  display: flex;
}

main {
  width: 70%;
  background-color: rgba(121, 100, 141, 0);
  padding: 10px;
  display: flex;
}

section {
  background-color: burlywood;
  padding: 10px;
  width: 60%;
}

header section {
  background-color: rgba(0, 0, 0, 0);
  color: white;

}

footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 230, 0);
  padding: 10px;
  margin-top: 10px;
  border-top: 1px solid gray;
  text-align: center;
}

/*MENU LATERAL - INICIO*/
.menu-lateral {
  width: 30%;
  background-color: rgb(52, 52, 52);
  height: 0%
}

.menu-lateral ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-lateral a {
  display: block;
  padding: 15px 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-lateral a:hover {
  background-color: rgb(238, 255, 0);
  font-weight: bold;
  padding-left: 30px;
  color: black
}

.menu-lateral li {
  border-bottom: 1px solid gray;
}

.menu-lateral li:last-child {
  border-bottom: none;
}

.menu-lateral a.active {
  background-color:rgb(80, 80, 82);
  padding-left: 30px;
  font-weight: bold;
}

.menu-lateral a.active:hover {
  color:white
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.girar {
  animation: girar 3.5s ease-in-out infinite;
}